/* Reset alt */
* {
    margin: 0;

}

.container_desktop {
    display: none;
}

.container {
    background-color: #fffbe7;
}

/* grid layout */
.container {
    display: grid;
    grid-template-rows: 12vw 65vw auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "banner"
        "emner"
        "emner2"
        "footer"
}



.header {
    grid-area: nav;
}

.banner {
    grid-area: banner;
}

.emner {
    grid-area: emner;
}

.emner2 {
    grid-area: emner2;
}

.footer {
    grid-area: footer;
}

.indhold {
    display: none;
}

.indhold2 {
    display: none;
}

.emne_grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 35% 65%;
    grid-template-areas:
        "ind naering";
    padding-top: 20px;
}

.ind {
    grid-area: ind;
    padding-top: 20px;
    padding-bottom: 50px;
}

.naering {
    grid-area: naering;
}

.naering {
    display: grid;
    grid-template-rows: 28px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "bes bes"
        "energi tal";
    padding-top: 20px;
}

.mad {
    font-size: 14px;
}

.bes {
    grid-area: bes;
}

.energi {
    grid-area: energi;
    font-size: 14px;
}

.tal {
    grid-area: tal;
    font-size: 14px;
}


/* grid layout slut */

/* Links */
.link {
    color: white;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #f05454;
}

/* Links slut */

/* Header */

.header {
    background-color: white;
}

.nav_some {
    display: flex;
    float: left;
}

.nav_element {
    margin-left: -40px;
    margin-top: 5px;
    list-style: none;
    padding: 5px;
}

.nav_instagram {
    margin-left: -5px;
}

.some_logo {
    float: left;
    width: 30px;
}

.logo {
    width: 22vw;
    margin-right: 21%;

}

/*Burger menu */

.nav {
    border-top: 1px solid #9d9898;
    border-bottom: 1px solid #9d9898;
    text-align: right;
    line-height: 50px;
    height: auto;
    min-height: 50px;

}

.menu {
    margin: 0 20px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;

}

.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}


label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 50px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

/* burger menu slut */

/* Header slut */

/* Banner */
.banner {
    background: url('../Images/bannermobil.jpg') no-repeat center;
    background-size: 100%;
}

/* Banner slut */

/* emner */
.artikel {
    background-color: whitesmoke;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2) inset;
}

.overskrift {
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 2.5em;
}

.broedtekst {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.beskrivelse {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;

}

.beskrivelse2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5em;
    padding-top: 10px;
}

.undertekst {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: -40px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.undertekst2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 40px;
}



.ul_overskrift {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 40px;
}




ul {
    list-style: none;
}



/* emner slut */



/* footer */

.footer {
    background-color: #363535;
    color: white;
    margin-top: 8px;
    text-align: center;
}

.footer_overskrift {
    padding-top: 45px;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    font-size: 2.5em;
}

.footer_underskrift {
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

.footer_broedtekst {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.copyright {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* footer slut */

@media only screen and (max-width: 699px) {


    label {
        display: block;
        cursor: pointer;
    }

    .nav {
        position: fixed;
        width: 100%;

    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }

    #toggle:checked + .menu {
        display: block;
    }

}

@media only screen and (min-width: 600px) {

    .container {
        display: none;
    }

    /* Grid layout */
    .container_desktop {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "banner"
            "artikel"
            "artikel2"
            "footer"
    }


    .header {
        grid-area: nav;
    }

    .banner {
        grid-area: banner;
    }

    .artikel {
        grid-area: artikel;
    }

    .artikel2 {
        grid-area: artikel2;
    }

    .foot {
        grid-area: footer;
        margin-top: 30px;
        background-color: #363535;
        color: white;
    }



    /* Grid layout slut */

    .emner {
        display: none;
    }

    .nav_some {
        display: none;
    }

    .logo {
        display: none;
    }


    .container_desktop {
        background-color: #fffbe7;
    }

    .nav_liste_desktop {
        border-top: 1px solid #9d9898;
        border-bottom: 1px solid #9d9898;
        list-style: none;
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        font-size: 1.2em;
        padding: 10px;
    }

    .nav_emner {
        margin-top: 15px;
        font-family: 'Cookie', cursive;
        font-weight: 400;
        font-size: 1.2em;
    }

    .desk_logo {
        width: 100px;
    }

    .ul_overskrift1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 600;
        padding-left: 40px;
        padding-top: 30px;
    }




    .artikel {
        background-color: whitesmoke;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2) inset;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 25px;
    }

    .artikel2 {
        background-color: whitesmoke;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2) inset;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 25px;
    }

    .center2 {
        padding-top: 75px;
        width: 40%;
    }

    .overs {
        text-align: center;
        font-family: 'Cookie', cursive;
        font-size: 3.2em;
    }

    .broedtekst {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1em;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }


    .beskrivelse_desk {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        font-size: 1.4em;
    }

    .footer_grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "kontakt firma some";

    }

    .kontakt_grid {
        grid-area: kontakt;
        text-align: center;
        padding-left: 30%;

    }

    .firma_grid {
        grid-area: firma;
        text-align: center;
    }

    .some_grid {
        grid-area: some;
        text-align: center;
        padding-right: 30%;
    }


    .kontakt_footer {
        text-align: center;
        list-style: none;
        padding-right: 20%;
    }

    .footer_overskrift {
        font-size: 1.5em;
        margin-top: 30%;
        text-align: center;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;

    }

    .footer_some {
        list-style: none;
        text-align: center;
        padding-bottom: 10%;
        padding-right: 15%;
    }

    .firma_overskrift {
        font-size: 3em;
        font-family: 'Dancing Script', cursive;
    }

    .copyright {
        text-align: center;
    }

}

@media only screen and (min-width: 900px) {

    .container {
        display: none;
    }

    /* Grid layout */
    .container_desktop {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "banner"
            "artikel"
            "artikel2"
            "footer"
    }

    .overskrift {
        font-size: 3em;
    }

    .center {
        width: 40%;
    }

    .header {
        grid-area: nav;
    }

    .banner {
        grid-area: banner;
    }

    .artikel {
        grid-area: artikel;
    }

    .artikel2 {
        grid-area: artikel2;
    }

    .foot {
        grid-area: footer;
        margin-top: 30px;
        background-color: #363535;
        color: white;
    }

    /* Grid layout slut */

    .emner {
        display: none;
    }

    .nav_some {
        display: none;
    }

    .logo {
        display: none;
    }

    .container_desktop {
        background-color: #fffbe7;
    }



    .nav_liste_desktop {
        border-top: 1px solid #9d9898;
        border-bottom: 1px solid #9d9898;
        list-style: none;
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2em;
        padding: 10px;
    }

    .nav_emner {
        margin-top: 25px;
        font-family: 'Cookie', cursive;
        font-weight: 400;
        font-size: 2em;
    }

    .desk_logo {
        width: 150px;
    }

    .artikel {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }

    .artikel2 {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }

    .overs {
        text-align: center;
        font-family: 'Cookie', cursive;
        font-size: 3em;
    }

    .broedtekst {
        font-size: 1.5em;
        padding-left: 15%;
        padding-right: 15%;
    }

    .beskrivelse {
        font-size: 1.2em;
        padding-left: 10%;
        padding-right: 10%;
    }

    .ul_overskrift {
        padding-left: 30%;
        font-size: 1.7em;
    }

    .li_liste {
        font-size: 1.3em;
    }

    .energi {
        padding-left: 60%;
        padding-top: 20px;
    }

    .mad {
        padding-left: 30%;
    }

    .tal {
        padding-top: 20px;
    }




}
